In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib as plt

In [4]:
filename = '2019-03-19-2022-03-25-South_Asia-India.csv'
df  = pd.read_csv(filename, index_col=0)

In [5]:
df.head(5)

,iso,event_id_cnty,event_id_no_cnty,event_date,year,time_precision,event_type,sub_event_type,actor1,assoc_actor_1,...,location,latitude,longitude,geo_precision,source,source_scale,notes,fatalities,timestamp,iso3
data_id,,,,,,,,,,,,,,,,,,,,,
8912977,356,IND107923,107923.0,18 March 2022,2022,1,Riots,Mob violence,Rioters (India),Singraur Caste Group (India); Rajput Caste Gro...,...,Kishanpur,25.6422,81.0244,1,Amar Ujala,Subnational,"On 18 March 2022, members of two caste groups ...",0,1647961433,IND
8912990,356,IND107846,107846.0,18 March 2022,2022,1,Protests,Peaceful protest,Protesters (India),Labour Group (India),...,Mumbai - Azad Maidan,18.9388,72.8321,1,Asian News International,National,"On 18 March 2022, aircraft technicians, employ...",0,1647961433,IND
8913012,356,IND107941,107941.0,18 March 2022,2022,1,Protests,Peaceful protest,Protesters (India),NaN,...,Ahmedgarh,30.6785,75.8272,1,Chandigarh Tribune,National,"On 18 March 2022, activists of various organis...",0,1647961433,IND
8913089,356,IND107842,107842.0,18 March 2022,2022,1,Protests,Peaceful protest,Protesters (India),Health Workers (India),...,Indore,22.7179,75.8333,1,Free Press Journal (India),National,"On 18 March 2022, doctors staged a protest at ...",0,1647961433,IND
8913091,356,IND107850,107850.0,18 March 2022,2022,1,Riots,Mob violence,Rioters (India),Government of India (2014-),...,Kanavar,26.5622,78.9797,1,Free Press Journal (India),National,"On 18 March 2022, around half a dozen persons,...",1,1647961433,IND

In [6]:
dfAtual = df[['event_date','year','event_type','sub_event_type','sub_event_type','actor1','assoc_actor_1','location','source','notes','fatalities']]
dfAtual.head(3)

,event_date,year,event_type,sub_event_type,sub_event_type,actor1,assoc_actor_1,location,source,notes,fatalities
data_id,,,,,,,,,,,
8912977,18 March 2022,2022,Riots,Mob violence,Mob violence,Rioters (India),Singraur Caste Group (India); Rajput Caste Gro...,Kishanpur,Amar Ujala,"On 18 March 2022, members of two caste groups ...",0
8912990,18 March 2022,2022,Protests,Peaceful protest,Peaceful protest,Protesters (India),Labour Group (India),Mumbai - Azad Maidan,Asian News International,"On 18 March 2022, aircraft technicians, employ...",0
8913012,18 March 2022,2022,Protests,Peaceful protest,Peaceful protest,Protesters (India),NaN,Ahmedgarh,Chandigarh Tribune,"On 18 March 2022, activists of various organis...",0

In [7]:
# dfAtual.to_csv('Motins_Atualizados.csv', index=False)

# Analise Preliminar

In [8]:
df.count()

iso                 56500
event_id_cnty       56500
event_id_no_cnty    56500
event_date          56500
year                56500
time_precision      56500
event_type          56500
sub_event_type      56500
actor1              56500
assoc_actor_1       43582
inter1              56500
actor2              15176
assoc_actor_2        6487
inter2              56500
interaction         56500
region              56500
country             56500
admin1              56500
admin2              56493
admin3              55500
location            56500
latitude            56500
longitude           56500
geo_precision       56500
source              56500
source_scale        56500
notes               56500
fatalities          56500
timestamp           56500
iso3                56500
dtype: int64

In [9]:
df2022 =df.loc[df['year'] == 2022]

In [10]:
df2022.head(3)

,iso,event_id_cnty,event_id_no_cnty,event_date,year,time_precision,event_type,sub_event_type,actor1,assoc_actor_1,...,location,latitude,longitude,geo_precision,source,source_scale,notes,fatalities,timestamp,iso3
data_id,,,,,,,,,,,,,,,,,,,,,
8912977,356,IND107923,107923.0,18 March 2022,2022,1,Riots,Mob violence,Rioters (India),Singraur Caste Group (India); Rajput Caste Gro...,...,Kishanpur,25.6422,81.0244,1,Amar Ujala,Subnational,"On 18 March 2022, members of two caste groups ...",0,1647961433,IND
8912990,356,IND107846,107846.0,18 March 2022,2022,1,Protests,Peaceful protest,Protesters (India),Labour Group (India),...,Mumbai - Azad Maidan,18.9388,72.8321,1,Asian News International,National,"On 18 March 2022, aircraft technicians, employ...",0,1647961433,IND
8913012,356,IND107941,107941.0,18 March 2022,2022,1,Protests,Peaceful protest,Protesters (India),NaN,...,Ahmedgarh,30.6785,75.8272,1,Chandigarh Tribune,National,"On 18 March 2022, activists of various organis...",0,1647961433,IND

In [11]:
df2021 = df.loc[df['year'] == 2021]
df2021.head(3)

,iso,event_id_cnty,event_id_no_cnty,event_date,year,time_precision,event_type,sub_event_type,actor1,assoc_actor_1,...,location,latitude,longitude,geo_precision,source,source_scale,notes,fatalities,timestamp,iso3
data_id,,,,,,,,,,,,,,,,,,,,,
8761409,356,IND104704,104704.0,31 December 2021,2021,1,Protests,Peaceful protest,Protesters (India),NaN,...,Khour,32.8229,74.5112,1,Amar Ujala,National,"On 31 December 2021, locals held a protest at ...",0,1641932533,IND
8761494,356,IND104696,104696.0,31 December 2021,2021,1,Riots,Mob violence,Rioters (India),NaN,...,Delhi - Rajendra Nagar,28.6387,77.1815,1,Asian News International,National,"On 31 December 2021, a mob of 50-60 people att...",0,1641932533,IND
8761604,356,IND104698,104698.0,31 December 2021,2021,1,Riots,Mob violence,Rioters (India),Sikh Group (India),...,Chuslewar,31.2715,74.7883,1,Chandigarh Tribune,Subnational,"On 31 December 2021, Nihang Sikhs clashed with...",0,1641932533,IND

In [12]:
df2020 = df.loc[df['year'] == 2020]
df2020.head(3)

,iso,event_id_cnty,event_id_no_cnty,event_date,year,time_precision,event_type,sub_event_type,actor1,assoc_actor_1,...,location,latitude,longitude,geo_precision,source,source_scale,notes,fatalities,timestamp,iso3
data_id,,,,,,,,,,,,,,,,,,,,,
7460424,356,IND87029,87029.0,31 December 2020,2020,1,Protests,Peaceful protest,Protesters (India),Labour Group (India); Women (India),...,Srinagar,34.0857,74.8056,1,Kashmir Images; Greater Kashmir,Subnational,"On 31 December 2020, female arts emporium empl...",0,1618492836,IND
7460431,356,IND87038,87038.0,31 December 2020,2020,1,Protests,Peaceful protest,Protesters (India),Farmers (India); KMSC: Farm Labourer Struggle ...,...,Amritsar,31.6344,74.8728,2,Chandigarh Tribune; Indian Express; Asian News...,Subnational-National,"On 31 December 2020, farmers under the banner ...",0,1618492836,IND
7460709,356,IND87046,87046.0,31 December 2020,2020,1,Protests,Peaceful protest,Protesters (India),Teachers (India),...,Allahabad,25.4447,81.8432,1,Amar Ujala,Subnational,"On 31 December 2020, assistant teachers staged...",0,1618492838,IND

In [13]:
df2019 = df.loc[df['year'] == 2019]
df2019.head(3)

,iso,event_id_cnty,event_id_no_cnty,event_date,year,time_precision,event_type,sub_event_type,actor1,assoc_actor_1,...,location,latitude,longitude,geo_precision,source,source_scale,notes,fatalities,timestamp,iso3
data_id,,,,,,,,,,,,,,,,,,,,,
6714329,356,IND68955,68955.0,31 December 2019,2019,1,Protests,Peaceful protest,Protesters (India),Farmers (India); JSP: Jana Sena Party,...,Mandadam,16.5192,80.5259,2,Bangalore Mirror; Hans India,Subnational-National,"On Dec 31, thousands of people joined Jana Sen...",0,1578514386,IND
6714375,356,IND68961,68961.0,31 December 2019,2019,1,Protests,Peaceful protest,Protesters (India),Labour Group (India),...,Mahoba,25.2905,79.8753,1,Amar Ujala,Subnational,"On Dec 31, protests were held by auto drivers ...",0,1578514386,IND
6714400,356,IND68964,68964.0,31 December 2019,2019,1,Protests,Peaceful protest,Protesters (India),SP: Samajwadi Party,...,Lucknow,26.8392,80.9231,1,Amar Ujala,Subnational,"On Dec 31, the SP protested against the Citize...",0,1578514386,IND

In [14]:
df.loc[df['year'] == 2018]

Empty DataFrame
Columns: [iso, event_id_cnty, event_id_no_cnty, event_date, year, time_precision, event_type, sub_event_type, actor1, assoc_actor_1, inter1, actor2, assoc_actor_2, inter2, interaction, region, country, admin1, admin2, admin3, location, latitude, longitude, geo_precision, source, source_scale, notes, fatalities, timestamp, iso3]
Index: []

[0 rows x 30 columns]

In [15]:
dfCidades = df['location'].unique()
dfCidades

array(['Kishanpur', 'Mumbai - Azad Maidan', 'Ahmedgarh', ..., 'Lathigram',
       'Erachakulam', 'Mekeri'], dtype=object)

In [16]:
df2022Atual = df2022[['event_date','year','event_type','sub_event_type','sub_event_type','actor1','assoc_actor_1','location','source','notes','fatalities']]
df2022Atual.head(3)

,event_date,year,event_type,sub_event_type,sub_event_type,actor1,assoc_actor_1,location,source,notes,fatalities
data_id,,,,,,,,,,,
8912977,18 March 2022,2022,Riots,Mob violence,Mob violence,Rioters (India),Singraur Caste Group (India); Rajput Caste Gro...,Kishanpur,Amar Ujala,"On 18 March 2022, members of two caste groups ...",0
8912990,18 March 2022,2022,Protests,Peaceful protest,Peaceful protest,Protesters (India),Labour Group (India),Mumbai - Azad Maidan,Asian News International,"On 18 March 2022, aircraft technicians, employ...",0
8913012,18 March 2022,2022,Protests,Peaceful protest,Peaceful protest,Protesters (India),NaN,Ahmedgarh,Chandigarh Tribune,"On 18 March 2022, activists of various organis...",0

In [17]:
df2021Atual = df2021[['event_date','year','event_type','sub_event_type','sub_event_type','actor1','assoc_actor_1','location','source','notes','fatalities']]
df2021Atual.head(3)

,event_date,year,event_type,sub_event_type,sub_event_type,actor1,assoc_actor_1,location,source,notes,fatalities
data_id,,,,,,,,,,,
8761409,31 December 2021,2021,Protests,Peaceful protest,Peaceful protest,Protesters (India),NaN,Khour,Amar Ujala,"On 31 December 2021, locals held a protest at ...",0
8761494,31 December 2021,2021,Riots,Mob violence,Mob violence,Rioters (India),NaN,Delhi - Rajendra Nagar,Asian News International,"On 31 December 2021, a mob of 50-60 people att...",0
8761604,31 December 2021,2021,Riots,Mob violence,Mob violence,Rioters (India),Sikh Group (India),Chuslewar,Chandigarh Tribune,"On 31 December 2021, Nihang Sikhs clashed with...",0

In [18]:
df2020Atual = df2020[['event_date','year','event_type','sub_event_type','sub_event_type','actor1','assoc_actor_1','location','source','notes','fatalities']]
df2020Atual.head(3)

,event_date,year,event_type,sub_event_type,sub_event_type,actor1,assoc_actor_1,location,source,notes,fatalities
data_id,,,,,,,,,,,
7460424,31 December 2020,2020,Protests,Peaceful protest,Peaceful protest,Protesters (India),Labour Group (India); Women (India),Srinagar,Kashmir Images; Greater Kashmir,"On 31 December 2020, female arts emporium empl...",0
7460431,31 December 2020,2020,Protests,Peaceful protest,Peaceful protest,Protesters (India),Farmers (India); KMSC: Farm Labourer Struggle ...,Amritsar,Chandigarh Tribune; Indian Express; Asian News...,"On 31 December 2020, farmers under the banner ...",0
7460709,31 December 2020,2020,Protests,Peaceful protest,Peaceful protest,Protesters (India),Teachers (India),Allahabad,Amar Ujala,"On 31 December 2020, assistant teachers staged...",0

In [19]:
df2019Atual = df2019[['event_date','year','event_type','sub_event_type','sub_event_type','actor1','assoc_actor_1','location','source','notes','fatalities']]
df2019Atual.head(3)

,event_date,year,event_type,sub_event_type,sub_event_type,actor1,assoc_actor_1,location,source,notes,fatalities
data_id,,,,,,,,,,,
6714329,31 December 2019,2019,Protests,Peaceful protest,Peaceful protest,Protesters (India),Farmers (India); JSP: Jana Sena Party,Mandadam,Bangalore Mirror; Hans India,"On Dec 31, thousands of people joined Jana Sen...",0
6714375,31 December 2019,2019,Protests,Peaceful protest,Peaceful protest,Protesters (India),Labour Group (India),Mahoba,Amar Ujala,"On Dec 31, protests were held by auto drivers ...",0
6714400,31 December 2019,2019,Protests,Peaceful protest,Peaceful protest,Protesters (India),SP: Samajwadi Party,Lucknow,Amar Ujala,"On Dec 31, the SP protested against the Citize...",0

In [34]:
dfLocal = df[['location','latitude','longitude']]
dfLocal

                     location  latitude  longitude
data_id
8912977             Kishanpur   25.6422    81.0244
8912990  Mumbai - Azad Maidan   18.9388    72.8321
8913012             Ahmedgarh   30.6785    75.8272
8913089                Indore   22.7179    75.8333
8913091               Kanavar   26.5622    78.9797
...                       ...       ...        ...
8626313            Awantipora   33.9219    75.0136
8626314            Awantipora   33.9219    75.0136
8626315               Pulwama   33.8741    74.9001
8626316                Mekeri   12.3909    75.7337
8698803              Duliajan   27.3575    95.3230

[56500 rows x 3 columns]

In [35]:
dfLocal.to_csv('local_motins.csv', index=False)

## Fatalidades

In [20]:
dfMortes = df[df.fatalities > 0]
dfMortesTotal = dfMortes.fatalities.sum()
dfMortesTotal

3732

In [21]:
df2022Mortes = df2022Atual[df2022Atual.fatalities > 0]
df2022MortesTotal = df2022Mortes.fatalities.sum()
df2022MortesTotal

220

In [22]:
df2022Mortes.fatalities.max()

14

In [23]:
df2021Mortes = df2021Atual[df2021Atual.fatalities > 0]
df2021MortesTotal = df2021Mortes.fatalities.sum()
df2021MortesTotal

993

In [24]:
df2021Mortes.fatalities.max()

31

In [25]:
df2020Mortes = df2020Atual[df2020Atual.fatalities > 0]
df2020MortesTotal = df2020Mortes.fatalities.sum()
df2020MortesTotal

1323

In [26]:
df2020Mortes.fatalities.max()

58

In [27]:
df2019Mortes = df2019Atual[df2019Atual.fatalities > 0]
df2019MortesTotal = df2019Mortes.fatalities.sum()
df2019MortesTotal

1196

In [28]:
df2019Mortes.fatalities.max()

16